@charset "UTF-8";
p {
  font-size: 25px;
  text-align: center;
  color: #ffd900;
}

.saveLinkBlock, .resultLink, .tax-list {
  display: none;
}

.saveLinkBlock.active, .resultLink.active, .tax-list.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.saveLinkBlock p, .resultLink p {
  font-size: 19px;
  text-align: center;
  color: #fff;
}

.resultLink p {
  font-size: 21px;
}

.thisIsLink {
  color: goldenrod;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.copyLink.copy {
  color: teal;
  background: #ffffff00;
  cursor: default;
  border-bottom-color: rgba(255, 255, 255, 0);
}

.copyLink.copy:hover {
  border-bottom-color: rgba(255, 255, 255, 0);
}

.tax-list.active {
  padding: 30px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.tax-list.active::before {
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  content: "Выбери тариф:";
  text-align: center;
  color: #ffd900;
  font-size: 19px;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  margin: 10px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 0 3px 1px #000;
          box-shadow: 0 0 3px 1px #000;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  -o-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  width: 150px;
  height: 200px;
  border-radius: 7px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(0, 128, 128, 0.726);
  text-align: center;
}

input[type=radio] + label h4 {
  font-size: 23px;
  color: teal;
}

input[type=radio] + label p {
  font-size: 19px;
  color: inherit;
}

input[type=radio] + label:hover {
  -webkit-box-shadow: 0 0 5px 2px #000;
          box-shadow: 0 0 5px 2px #000;
}

input[type=radio]:checked + label {
  background: rgba(0, 128, 128, 0.356);
  color: #fff;
}

input[type=radio]:checked + label h4 {
  color: goldenrod;
}

.linkHelper {
  display: none;
}

.linkHelper.active {
  color: #ffd900;
  text-align: center;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff36;
  -webkit-transition: border-color .2s ease-in-out;
  -o-transition: border-color .2s ease-in-out;
  transition: border-color .2s ease-in-out;
  margin-top: 20px;
  cursor: pointer;
  font-size: 23px;
  padding: 10px;
  display: block;
}

.linkHelper.active:hover {
  border-bottom-color: #fff;
}
